# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
  - package-ecosystem: "terraform"
    directories:
      - "/"
      - "/tests/btp-e2e-test"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "tf"
      include: "scope"
    groups:
      btp:
        patterns:
          - "SAP/btp"
      terracurl:
        patterns:
          - "devops-rob/terracurl"
      http:
        patterns:
          - "hashicorp/http"
  # Examples download this module from main, so they have to be bumped after the main module deps
  - package-ecosystem: "terraform"
    directories:
      - "/examples/kyma-on-btp-new-sa"
      - "/examples/kyma-on-btp-reuse-sa"
      - "/examples/kyma-on-btp-with-custom-oidc"
      - "/.github/actions/create-sap-btp-kyma"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "examples"
      include: "scope"
    groups:
      btp:
        patterns:
          - "SAP/btp"
      terracurl:
        patterns:
          - "devops-rob/terracurl"
      http:
        patterns:
          - "hashicorp/http"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore(gha)"
      include: "scope"
